<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/the.css"/>
    </head>
    <body>
        <div class="container">
            <form id="form" action="/">
                <label>callback: <input type="text" name="callback" /></label>
                <label>client_id: <input type="text" name="client_id" /></label>
                <label>client_secret: <input type="text" name="client_secret" /></label>
                <label>Unique hash for updates: <input type="text" name="hash" /></label>
                <input type="submit">
            </form>
        </div>
        <script type="text/javascript" src="/static/the.js"></script>
    </body>
</html>