<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
                'modules':[{
                    'name':'visualization',
                    'version':'1',
                    'packages':['corechart']
                }]
            }"></script>
        <script> 
            // Xss? Potentially, couldn't get it to happen though
            var records = JSON.parse('{"data":[["Timestamp", "Following", "Followers"]' + {{ .GetRecords }}["String"] +']}');
        </script>
        <link rel="stylesheet" type="text/css" href="/static/the.css"/>
    </head>
    <body>
        <div id="chart" style="width: 900px; height: 500px; margin: 0 auto;"></div>

        <div class="container">
            <form id="form">
                <h1> Set Yon Hashtags: </h1>
                <input type="hidden" id="auth" value="{{ .GetAuthLink }}" />
                <div id="hashes">
                {{ range $key, $value := .GetHashtags }}
                    <div class="hashgroup">
                        <input class="hashtag hashtag{{ $key }}" type="text" value="{{ $value }}" />
                        <div class="remove" data-index="{{ $key }}"> x </div>
                    </div>
                {{ end }}
                </div>
                <div class="hashgroup">
                    <input type="text" id="empty">
                    <input type="submit" value="Authorize">
                </div>
            </form>
        </div>
        <script type="text/javascript" src="/static/the.js"></script>
    </body>
</html>